<main role="main"
      class="container">

    <div class="starter-template">
        <h1>Stateful</h1>
        <p class="lead">Ejemplo de componete stateful.</p>
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="row row-cols-1 row-cols-md-3"
                     *ngIf="shopModel.shopItems">
                    <div class="col mb-4"
                         *ngFor="let item of shopModel.shopItems">
                        <app-stateless [product]="item"
                                       (doAction)="addToCart($event)"></app-stateless>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <app-summary (onRemove)="remove($event)"></app-summary>
            </div>
        </div>
    </div>
</main> <!-- /.container -->